.tests
.snakemake
ext
logs
.DS_Store
.temp_dorado_model*
.vscode
results/
resources/tools/*
*.bam
*.pod5

# python testing
__pycache__/
.coverage

# ML model outputs
model_best/
resources/models/.mod_models_ready

# generated at render time by Snakemake rule
workflow/report/_custom.qmd
