# path to TSV file that lists samples to process
# two columns: 
#   - sample_id
#     a unique id for the sample
#   - run_directory
#     a path to the sequencing run folder. 
#     the pipeline will recursively search for pod5 or fast5 files to process within this directory and subdirectories 
#     to only process e.g. pod5_pass, set this path to the pod5_pass directory
# 
samples: config/samples.tsv

# output directory for files produced by pipline
output_directory: ".test/outputs"

# directory for rebasecalled bam files
rebasecalled_bam_directory: ".test/outputs/rbc_bams"

# either a path to a basecalling model to use with dorado or a model selection name to specify model to download and use
base_calling_model: "sup@v5.0.0"

# either FAST5 or POD5, if FAST5 then these files will be converted to pod5 before rebasecalling
input_format: "POD5"

# path to fasta file to use for bwa alignment.
# a BWA index will be built if it does not exist for this fasta file
fasta: ".test/yeast.tRNAnanoref.wsplicing.fa"

# alignment method to use, only bwa supported at this time 
aligner: "bwa"

# path to directory with scripts for pipeline
src: "workflow/scripts"

# options for particular commands
opts:
    # additional options for dorado basecalling e.g
    dorado: " --emit-moves "
    
    # additional options for bwa alignment
    bwa: " -W 13 -k 6 -T 20 -x ont2d "

    #requires positive strand alignment with 15bp on 5' end, 18bp on 3' end, and a minimum MAPQ of 1
    bam_filter: "-5 15 -3 18 -q 1 -s"

    #requires positive strand alignment and excludes non-primary alignments 
    coverage: "--filterRNAstrand 'reverse' --samFlagExclude 256"

# path to singularity image with dependencies  (Not set up yet)
# or specify a docker image to pull (e.g. eventually will be something at docker://rnabioco/aatrnaseq)
# only used if --use-singularity flag is provided when running snakemake
#container: "/path/to/a/singularity_image.sif"

# path to conda env file to use for dependencies  (Not set up yet)
# or specify a named conda enviroment
# only used if --use-conda flag is provided when running snakemake
#conda: "aatrnaseq"

